.one{
    background-color: aquamarine; color: rgb(246, 139, 8);
}
.two{
    background-color: aqua; color: rgb(211, 111, 191);
}
.three{
    background-color: blueviolet; color: blanchedalmond;
}
.four{
    background-color: bisque; color: rgb(17, 38, 31);
}
.five{
    background-color: blue; color: brown;
}